@use "/src/styles/abstracts/variables";

.slider {
  position: absolute;
  background-color: var(--text);
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__previous,
  &__next {
    all: unset;
    cursor: pointer;
    position: relative;
    width: 64px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: adjust-color($color: black, $lightness: 20);
    }
  }
}

@media screen and (min-width: variables.$medium) {
  .slider {
    right: inherit;
    left: 100%;
  }
}
