@import "abstracts/colors", "abstracts/mixins", "abstracts/variables";

@import "base/reset";

:root {
  --background: #{$white};
  --text: #{$black};
  --elements: #{$darkGray};
  --elements-2: #{$veryDarkGray};
}

body {
  font-family: #{$font-1};
  font-size: #{$fontSize-1};
}
